@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Yatra+One&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 52.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
.sidebar {
  position: fixed;
  left: -25rem;
  width: 25rem;
  height: 100%;
  background: #042331;
  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 3rem;
  color: white;
  line-height: 7rem;
  text-align: left;
  padding: 2rem;
  padding-left: 4rem;
  background: #063146;
  user-select: none;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 6.5rem;
  font-size: 2.3rem;
  color: white;
  padding-left: 4rem;
  padding-top: 2rem;
  box-sizing: border-box;
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  transition: 0.4s;
}
ul li:hover a {
  padding-left: 5rem;
}
.sidebar ul a i {
  margin-right: 1.6rem;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: absolute;
  background: #042331;
  border-radius: 0.3rem;
  cursor: pointer;
}
label #btn {
  left: 4rem;
  top: 2.5rem;
  font-size: 3.5rem;
  color: white;
  padding: 0.6rem 1.2rem;
  transition: all 0.5s;
}
label #cancel {
  z-index: 1111;
  left: -19.5rem;
  top: 1.7rem;
  font-size: 3rem;
  color: #0a5275;
  padding: 0.4rem 0.9rem;
  transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 25rem;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel {
  left: 19.5rem;
}
#check:checked ~ section {
  margin-left: 25rem;
}
section {
  background: url("../images/clock_coffee.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all 0.5s;
}

@media (max-width: 998px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 35%;
  }
}

/* //////////////////// */
.box1 {
  position: relative;
  left: 10%;
  top: 20%;
  /* border: 1px solid white; */
  width: 40%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

label {
  font-size: 3.3rem;
}

.btn {
  color: #fff;
  border: none;
  margin: 2rem;
  margin-top: 6rem;
  margin-left: 9rem;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.5s;
  transition-property: box-shadow;
  outline: none;
}

.btn-success {
  background: #03d29f;
  box-shadow: 0 0 2.5rem #03d29f;
}

.btn-success:hover {
  box-shadow: 0 0 0.5rem #03d29f, 0 0 2.5rem #03d29f, 0 0 5rem #03d29f,
    0 0 10rem #03d29f;
}
