@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Yatra+One&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html{
    font-size: 52.5%;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -25rem;
  width: 25rem;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 3rem;
  color: white;
  line-height: 7rem;
  text-align:left;
  padding: 2rem;
  padding-left: 4rem;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 6.5rem;
  font-size: 2.3rem;
  color: white;
  padding-left: 4rem;
  padding-top: 2rem;
  box-sizing: border-box;
  border-bottom: .1rem solid black;
  border-top: .1rem solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 5rem;
}
.sidebar ul a i{
  margin-right: 1.6rem;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: .3rem;
  cursor: pointer;
}
label #btn{
  left: 4rem;
  top: 2.5rem;
  font-size: 3.5rem;
  color: white;
  padding: .6rem 1.2rem;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -19.5rem;
  top: 1.7rem;
  font-size: 3rem;
  color: #0a5275;
  padding: .4rem .9rem;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 25rem;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 19.5rem;
}
#check:checked ~ section{
  margin-left: 25rem;
}
section{
  background: url('https://static.vecteezy.com/system/resources/previews/001/311/897/large_2x/alarm-clock-and-coffee-beans-free-photo.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

@media(max-width: 998px) {
    html{
        font-size: 40%;
    }
}

@media(max-width: 768px) {
    html{
        font-size: 35%;
    }
}
/********************************************/
.switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2.6rem;
    width: 2.6rem;
    left: .4rem;
    bottom: .4rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3b444b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 .1rem #3a3f42;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(2.6rem);
    -ms-transform: translateX(2.6rem);
    transform: translateX(2.6rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 3.4rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/********************************************/
.notif {
    display: flex;
    align-items: center;
    position: relative;
    left: 14rem;
    top: 19rem;
    padding: 2rem;
}

.notif > p{
    font-family: 'Acme', sans-serif;
    color: aliceblue;
    font-size: 4rem;
    margin-right: 19rem;    
}

/********************************************/
.slidecontainer {
    width: 100%;
  }
  
  .slider1 {
    -webkit-appearance: none;
    width: 100%;
    height: 2.5rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider1:hover {
    opacity: 1;
  }
  
  .slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider1::-moz-range-thumb {
    width: 2.5rem;
    height: 2.5rem;
    background: #4CAF50;
    cursor: pointer;
  }